;
; This is Bluetooth Gateway configuration file (default configuration).
;
; It is automatically regenerated on every update,
; do not store any information (including comments)
; aside of information inside defined keywords.
;
; The keywords legal in this file are:
;   AUTH={ON|OFF} require authentication on connection
;   ENCRYPT={ON|OFF} require encryption to be on on connection
;   RASAUTH={NONE|PAP CHAP MSCHAP MSCHAPv2}
;   PORT=name,number[:channel][,number] use COMx: port, use pre-defined channel
;              if given, otherwise auto-allocate
;              if second index is specified, use modem emulator on it
;   PINaddress=sequence of 1 to 16 double hex characters
;       e. g. PIN000101020304=30 31 32 32 34
;   KEYaddress=sequence of 16 double hex characters - same as PIN
;
AUTH=OFF
ENCRYPT=OFF
PORT=btline0,7
PORT=btline1,8,9
